.landing{
    background-image: url("IP3/assets/backgrounds/h_img.jpg");
    width: 100%;
    text-align: center;
    padding-top:290px;
    color: white;
    background-repeat: no-repeat;
    }

#about{
        text-align: center;
    }
#logo{
        padding-bottom:20px;
    }
    
#mouse_click{
        padding-top: 240px;
    }
.services{
        background-image: url("IP3/assets/backgrounds/s_image.jpg");
        text-align: center;
        color: whitesmoke;
        width:100%;
        padding-top:80px;
        font-size:20px;
        background-repeat: no-repeat;
    }
.Services{
        text-align:center;
        padding-top: 5%;
    
    }
.portfolio{
        text-align: center;
        justify-content:space-around;
        
      }

#header{
        font-size:40px;
        padding:10px;
    }
.p1, .p2, .p3{
        display:none;
        }
.line{
        background-color: rgba(250, 250, 250, 0.6);
        width: 100%;
        height: 200%;
        position: absolute;
        opacity: 0;
        text-align:center;
          }
#hov{
        margin:10px 0;
        position: relative;
        overflow: hidden;
          }
#hov:hover img {
        transform: scale(1.2) ;
        transition: all 0.8s ease;
        opacity: 80%;
        background-color:grey;
        border: 5px solid black;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
          }

overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background: transparent;
            cursor: pointer;
            
            transition: all 0.5s ease;
          }
          #contact{
            background-image: url("IP3/assets/backgrounds/c_image.jpg");
            height: 50vh;
            width:100%;
            background-size: cover;
            background-repeat: no-repeat;
        }