.landing{
    background-image: url("IP3/assets/backgrounds/h_img.jpg");
    width: 100%;
    text-align: center;
    padding-top:290px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    }

#about{
        text-align: center;
        height: 400px;
    }
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    overflow: scroll;

}
#logo{
        padding-bottom:20px;
    }
    
#mouse_click{
        padding-top: 240px;
        padding-bottom: 50px;
    }
.services{
        background-image: url("IP3/assets/backgrounds/s_image.jpg");
        text-align: center;
        color: whitesmoke;
        width:100%;
        padding-top:100px;
        font-size:20px;
        background-size: cover;
        background-repeat: no-repeat;
        height:450px;
    }
.Services{
        text-align:center;
        padding-top: 5%;
    
    }


#header{
        font-size:40px;
        padding:10px;
    }
.p1, .p2, .p3{
        display:none;
        }
 
.container3{
            background: url("IP3/assets/backgrounds/c_image.jpg");
            width: 100%;
            height: 400px;
            background-size: cover;
            color: white;
            text-align: center;
            background-repeat: no-repeat;
        }
input[type="text"],textarea[type="text"],input[type="email"]{
            outline: none;
            background-color: transparent;
            color: white;
            font-weight: 500;
 }
.form-control::placeholder{
            color: white;
            opacity: 1;
            line-height: 10px;
            font-size: 15px;
            
        }
#contact > .row{
    padding-left:380px;
    
    
}
textarea{
    width:800px;
    padding-left:10px ;
}
 .slide {
    height: auto;
    width: 50%;
    float: left;
    margin-bottom: 2em;
    position: relative;
    margin:10px 0;
    position: relative;
    overflow: hidden;
 }      
.slide:hover {
   
    transition: all 0.8s ease-in;
    opacity: 2;
    -webkit-transition: all 0.8s ease-in;
    -moz-transition: all 0.8s ease-in;
    -ms-transition: all 0.8s ease-in;
    -o-transition: all 0.8s ease-in;
        }
        
.img-title p {
            position: absolute;
            color: #fff;
            top: 33%;
            width: 50%;
            text-align: center;
            border: 4px solid whitesmoke;
            background-color: rgba(14, 13, 13, 0.4);
        }        
.img-title:hover{
            position: absolute;
            top: 0;
            margin: 0px;
            height: 100%;
            width: 100%;
            padding-left: 10px;
            opacity: 2;
            background-color: rgba(255, 255, 255, .1);
            
            
        }
.img-title {
    opacity:0;
}
.hide{
    display: none;
}
.text-center h2{
    text-align: center;
}
.footer{
    text-align: center;
    padding-top: 40px;
}